
.quiqqer-cron-cronservicewindow-btn-openRegistration {
    float  : right;
    margin : 30px auto 0 auto;
}

.quiqqer-cron-cronserviceWindow h2 {
    font-weight   : normal;
    margin-bottom : 10px;
}

.quiqqer-cron-cronservicewindow-title {
    padding-bottom : 10px;
    text-align     : center;
}

.quiqqer-cron-cronservicewindow-title span {
    clear   : both;
    display : block;
}

.quiqqer-cron-cronservicewindow-title .fa {
    font-size : 60px;
}

.quiqqer-cron-cronservicewindow-section {
    margin : 15px auto;
}

.quiqqer-cron-cronservicewindow-buttons {
    margin-top : 40px;
    text-align : center;
    width      : 100%;
}

.quiqqer-cron-cronservicewindow-stat-title {
    font-weight : bold;
}

.quiqqer-cron-cronservice-table-stats {
    width : 100%;
}

.quiqqer-cron-cronservice-table-stats td {
    width : 50%;
}

.quiqqer-cron-cronservicewindow-stat-negative {
    color : red;
}

.quiqqer-cron-cronservicewindow-stat-positive {
    color : green;
}

/* Registration Sheet */

.quiqqer-cron-cronservicewindow-registration {
    padding : 20px;
}

.quiqqer-cron-cronservicewindow-registration-title {
    border-bottom  : 1px solid #eee;
    padding-bottom : 10px;
}

.quiqqer-cron-cronservicewindow-registration-lbl-email {
    font-weight : bold;
    padding     : 2px;
    width       : 100%;
}

.quiqqer-cron-cronservicewindow-registration-txt-email {
    margin-top : 6px;
    width      : 100%;
}

.quiqqer-cron-cronservicewindow-btn-register {
    float      : right;
    margin-top : 20px;
}

.quiqqer-cron-cronservicewindow-registration-success-btn-confirm {
    float  : right;
    margin : 15px 0 0 0;
}

.quiqqer-cron-cronservicewindow-registration-success-btn-cancel-text {
    overflow      : hidden;
    text-align    : center;
    text-overflow : ellipsis;
    white-space   : nowrap;
    width         : 100%;
}