<?xml version="1.0" encoding="UTF-8"?>
<quiqqer>
    <settings>

        <config>
            <section name="settings">
                <conf name="executeOnAdminLogin">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="showAdminMessageIfCronNotRun">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
                <conf name="writeCronLog">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>

                <conf name="cron_lock_time">
                    <type><![CDATA[integer]]></type>
                    <defaultvalue>14000</defaultvalue>
                </conf>
                <conf name="cron_lock_timeout_notification">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
            </section>

            <section name="update">
                <conf name="auto_update">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>0</defaultvalue>
                </conf>
                <conf name="auto_check">
                    <type><![CDATA[bool]]></type>
                    <defaultvalue>1</defaultvalue>
                </conf>
            </section>
        </config>

        <window>
            <title>
                <locale group="quiqqer/cron" var="settings.title"/>
            </title>
            <params>
                <icon>fa fa-clock-o</icon>
            </params>

            <categories>
                <category name="cron_settings">
                    <text>
                        <locale group="quiqqer/cron" var="settings.title"/>
                    </text>
                    <icon>fa fa-clock-o</icon>

                    <settings title="settings" name="settings">
                        <title>
                            <locale group="quiqqer/cron" var="settings.cron.title"/>
                        </title>
                        <input conf="settings.executeOnAdminLogin" type="checkbox">
                            <text>
                                <locale group="quiqqer/cron" var="settings.cron.executeOnAdminLogin"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cron" var="settings.cron.executeOnAdminLogin.description"/>
                            </description>
                        </input>

                        <input conf="settings.showAdminMessageIfCronNotRun" type="checkbox">
                            <text>
                                <locale group="quiqqer/cron" var="settings.cron.showAdminMessageIfCronNotRun"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cron"
                                        var="settings.cron.showAdminMessageIfCronNotRun.description"/>
                            </description>
                        </input>

                        <input conf="settings.writeCronLog" type="checkbox">
                            <text>
                                <locale group="quiqqer/cron" var="settings.cron.writeCronLog"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cron" var="settings.cron.writeCronLog.description"/>
                            </description>
                        </input>
                    </settings>

                    <settings title="execution" name="execution">
                        <title>
                            <locale group="quiqqer/cron" var="settings.execution.title"/>
                        </title>

                        <input conf="settings.cron_lock_time" type="number" min="1">
                            <text>
                                <locale group="quiqqer/cron" var="settings.cron_lock_time.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cron" var="settings.cron_lock_time.description"/>
                            </description>
                        </input>

                        <input conf="settings.cron_lock_timeout_notification" type="checkbox">
                            <text>
                                <locale group="quiqqer/cron" var="settings.cron_lock_timeout_notification.title"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cron" var="settings.cron_lock_timeout_notification.description"/>
                            </description>
                        </input>
                    </settings>

                </category>
            </categories>
        </window>

        <window name="quiqqer">
            <categories>
                <category name="update" index="10">
                    <text>
                        <locale group="quiqqer/cron" var="settings.update.category.title"/>
                    </text>
                    <icon>fa fa-wrench</icon>

                    <settings title="update" name="update">
                        <title>
                            <locale group="quiqqer/cron" var="settings.update.category.title"/>
                        </title>

                        <input conf="update.auto_check" type="checkbox">
                            <text>
                                <locale group="quiqqer/cron" var="settings.cron.auto_check"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cron" var="settings.cron.auto_check.description"/>
                            </description>
                        </input>

                        <input conf="update.auto_update" type="checkbox">
                            <text>
                                <locale group="quiqqer/cron" var="settings.cron.auto_update"/>
                            </text>
                            <description>
                                <locale group="quiqqer/cron" var="settings.cron.auto_update.description"/>
                            </description>
                        </input>

                    </settings>

                </category>
            </categories>
        </window>

    </settings>
</quiqqer>